<div class="container">
  <div class="row justify-content-start" style="margin-top: 1rem;">

    <div class="col-sm-4">
      <div class="card" style="margin-bottom: 2rem;">
        <img class="card-img-top" src=".\assets\img\HS-CATEGORIAS-PG-ABARROTES-ABRIL-MAYO.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
            <button (click)="openDialog()" mat-flat-button color="warn">Agregar al carrito</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="margin-bottom: 2rem;">
        <img class="card-img-top" src=".\assets\img\HS-CATEGORIAS-PG-BBS-13-MARZO-1.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
            <button (click)="openDialog()" mat-flat-button color="warn">Agregar al carrito</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="margin-bottom: 2rem;">
        <img class="card-img-top" src=".\assets\img\HS-CATEGORIAS-PG-CONGELADOS-MAYO.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
            <button (click)="openDialog()" mat-flat-button color="warn">Agregar al carrito</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="margin-bottom: 2rem;">
        <img class="card-img-top" src=".\assets\img\HS-CATEGORIAS-PG-CUIDADOFAMILIAR-28-NOVIEMBRE.png"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
            <button (click)="openDialog()" mat-flat-button color="warn">Agregar al carrito</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="margin-bottom: 2rem;">
        <img class="card-img-top" src=".\assets\img\HS-CATEGORIAS-PG-LECHE-FEBRERO.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
            <button (click)="openDialog()" mat-flat-button color="warn">Agregar al carrito</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="margin-bottom: 2rem;">
        <img class="card-img-top" src=".\assets\img\HS-CATEGORIAS-PG-LICORES-ABRIL-MAYO.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
            <button (click)="openDialog()" mat-flat-button color="warn">Agregar al carrito</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="margin-bottom: 2rem;">
        <img class="card-img-top" src=".\assets\img\HS-CATEGORIAS-PG-LIMPIEZA-19-SETIEMBRE-2023-A.png"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
            <button (click)="openDialog()" mat-flat-button color="warn">Agregar al carrito</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="margin-bottom: 2rem;">
        <img class="card-img-top" src=".\assets\img\HS-CATEGORIAS-PG-PARRILLAS-MAYO.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
            <button (click)="openDialog()" mat-flat-button color="warn">Agregar al carrito</button>
        </div>
      </div>
    </div>
  </div>
</div>
